<p style="font-size: 16px;">Pracownik wyznaczony do zadania: <i>{{ data.task }}</i></p>

<br>
<strong>Pracownik: </strong><span>{{ data.worker }}</span><br>
<strong>Okres: </strong><span>{{ data.startDate }} - {{ data.endDate }}</span><br>
<br>

<p style="font-size: 14px;">Miłego dnia!</p>