{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 m12">
            <h5 class="center">Zadania</h5>
        </div>
    </div>

    {% if taskCollection is defined and taskCollection.items is not empty %}
        <div class="row">
            <div class="col s12 m12">
                <table class="responsive-table highlight">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Tytuł</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in taskCollection %}
                        <tr data-id="{{ task.id }}">
                            <td>{{ task.name }}</td>
                            <td>{{ task.title }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>Brak zadań do wyświetlenia</p>
    {% endif %}
{% endblock %}