{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 m12">
            <h5 class="center">Pracownicy przydzieleni do zadań</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            {% if workerTaskCollection is defined and workerTaskCollection.items is not empty %}
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th>Nazwa zadania</th>
                        <th>Pracownik</th>
                        <th>Data (od)</th>
                        <th>Data (do)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in workerTaskCollection %}
                        <tr data-id="{{ item.id }}">
                            <td>{{ item.task }}</td>
                            <td>{{ item.worker }}</td>
                            <td>{{ item.startDate|date }}</td>
                            <td>{{ item.endDate|date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Brak danych</p>
            {% endif %}
        </div>
    </div>
{% endblock %}