<nav>
    <div class="nav-wrapper deep-purple">
        <a href="{{ path('homepage') }}" class="brand-logo" style="font-size: 1.8rem; padding-left: 1rem;">Tehtavat</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('homepage') }}">Strona główna</a></li>
            <li><a href="{{ path('worker_index') }}">Pracownicy</a></li>
            <li><a href="{{ path('task_index') }}">Zadania</a></li>
        </ul>
    </div>
</nav>